---
import { work } from "../../data/work.json";
---

<section>
  <div
    class="text-zinc-400 text-xs justify-center flex flex-col lg:flex-row gap-4 lg:gap-12 w-full font-medium uppercase tracking-tight px-8 md:px-12 lg:px-24 py-6">
    <p class="max-w-2xl text-zinc-500 text-sm mx-auto">
      © 99dev. Design: <a
        href="https://windbasics.com/"
        class="underline underline-offset-2">Wind Basic</a
      >. Demo Images: Respective owners.
    </p>
  </div>
</section>
